@model NobetTakip.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";

    string dnClass(string dn)
    {
        if (dn == "GÜNDÜZ")
            return "day";
        else if (dn == "GECE")
            return "night";
        else return "allday";
    }
}

<a href="/bildirim" class="bildirimler box-shadow @(Model.BildirimSayisi > 0 ? "has-notification" : "zero-notification")">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
        <path d="M10 2a6 6 0 00-6 6v3.586l-.707.707A1 1 0 004 14h12a1 1 0 00.707-1.707L16 11.586V8a6 6 0 00-6-6zM10 18a3 3 0 01-3-3h6a3 3 0 01-3 3z" />
    </svg>
    <p>Nöbet değiştirme istekleri</p>
    <span class="badge">@Model.BildirimSayisi</span>
</a>

@if (Model.Nobetler == null || Model.Nobetler.Count == 0)
{
    <div class="section-header mt-40">Nöbetleriniz</div>

    <div class="nobet-data">
        <p>Adınıza oluşturulmuş bir nöbet kaydı bulunmamaktadır.</p>
    </div>
}
else
{
    <div class="section-header mt-40">En yakın nöbetiniz</div>

    @for (int n = 0; n < Model.Nobetler.Count; n++)
    {
        Nobet nobet = Model.Nobetler[n];

        <div class="nobet-data @(n == 0  ? "first" : "")">

            <div class="info-row">
                <div class="info-row">
                    <div class=" timepill @dnClass(nobet.DayNightAsString)">
                        @if (dnClass(nobet.DayNightAsString) == "day" || dnClass(nobet.DayNightAsString) == "allday")
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" clip-rule="evenodd" />
                            </svg>
                        }
                        else
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z" />
                            </svg>
                        }
                        <p>@nobet.DayNightAsString</p>
                    </div>
                </div>
            </div>
            <div class="info-row title">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z" />
                </svg>
                <p>@nobet.Date.ToString("dd MMMM dddd")</p>
            </div>
            <div class="info-row normal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <p>@nobet.PeriodAsString</p>
            </div>
            <div class="info-row normal">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z" />
                </svg>
                @if (nobet.Personels == null || nobet.Personels.Count == 0)
                {
                    <p>Nöbete atanmış personel bulunmamaktadır.</p>
                }
                else if (nobet.Personels.Count == 1)
                {
                    <p>@nobet.Personels[0].RealName</p>
                }
                else if (nobet.Personels.Count == 2)
                {
                    <p>@nobet.Personels[0].RealName ve @nobet.Personels[1].RealName</p>
                }
                else if (nobet.Personels.Count > 2)
                {
                    <p>@nobet.Personels[0].RealName, @nobet.Personels[1].RealName ve @(nobet.Personels.Count-2) kişi ile birlikte</p>
                }

            </div>
        
            <div class="info-row normal pt-2">
                <a href="/nobet/@nobet.NobetId" role="button" class="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 7l5 5m0 0l-5 5m5-5H6" />
                    </svg>
                    Nöbet Detayına Git
                </a>
                <a href="/nobet/@nobet.NobetId/degistir" role="button" class="button">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>
                    Nöbeti Değiştir
                </a>
            </div>
        </div>

        if (n == 0)
        {
            <div class="section-header mt-40">İlerideki Nöbetleriniz</div>
        }
    }
}
